/*===================================
Basics
===================================*/
body {
  margin: 5rem 2rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
}

body > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 48rem;
  margin: 1rem auto;
  width: 100%;
}

a {
  text-decoration: none;
  color: #7F5CCB;
}

/*===================================
Colors
===================================*/
.colorPrimary {
    background-color: #410098;
}

.colorSecondary {
    background-color: #7F5CCB;
}

.colorTertiary {
    background-color: #BEB9FF;
}

/*===================================
Layout
===================================*/

hr {
    background-color: black;
    max-width: 55rem;
    height: 4px;
    border: none;
    width: 100%;
}

section{
    width: 100%;
    text-align: center;
}

div.event{
    border-color: #BEB9FF;
    border-width: 4px 0 0 0;
    border-style: solid;
    width: 95%;
    text-align: left;
    padding-top: 1rem;
}
div.event:first-child {
    border-width: 0;
    padding-top: 0;
}

dl.eventMeta{
    display: grid;
    grid-template-columns: max-content auto;
}

dl.eventMeta dt, dl.eventMeta dd {
    margin: 1em 0.5em;
    display: flex;
    align-items: center;
}

dl.eventMeta span.material-symbols-outlined {
    margin: 0 0.2em;
}

dl.eventMeta dt {
    font-weight: bold;
    width: 7rem;
}
dl.eventMeta dd {
    width: calc(100% - 3rem);
}

/*===================================
Banner
===================================*/

h1.bannerTitle {
    font-size: xxx-large;
}
img.BannerImage {
    height: 27rem;
}

h3.bannerSubtitle {
    text-align: center;
    margin-top: 3rem;
}

/*===================================
Footer
===================================*/
footer {
    margin-top: 3rem;
}

p.copyrightText {
    font-size: small;
    color: lightgrey;
}


/*===================================
Images and icons
===================================*/

/*===================================
Responsive
===================================*/
