body {
    background-color: white;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
    color: #2e2e2e;
}

/*navigation bar */
    #navigation {
        background-color: #2e2e2e;
        text-align: center;
        color: #ffffff;
        height: 4em;
        line-height: 4em;
        /* stay at top*/
        position: fixed;
        z-index: 0;
        width: 100%;
        top: 0;
    }
    
    #navigation ul {
        display: inline-flex;
        width: 93%;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }
    
    #navigation li {
        display: inline-block;
    }
    
    #navigation a {
        color: #ffffff;
        border-radius: 14px 0px 14px 0px;
        /* otherwise no hover efect */
        -moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
		-ms-transition: background-color .25s ease-in-out;
		transition: background-color .25s ease-in-out;
        padding: 0.5em;
        display: block;
        margin: 0 0.25em;
    }
    
    #navigation a:hover {
        background-color: lightseagreen;
        color:  #2e2e2e
        ;
    }

    
    #top_banner ul {
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    #top_banner li {
        display: inline-flex;
        flex-direction: column;
    }

    div#topbanner {
        background-color: #c0e2dfdb
    }

    a {
        text-decoration: none;
        color: lightseagreen;
    }

/* footer */
    #last_edit {
        background-color: #45b2aa61;
        color: lightseagreen;
        padding-left: 0.5em;
    }

    /* classes? */

.container {
    padding: 4.1em;
}

.rightaligedcolumn {
    text-align: right;
    padding-right: 0.2em;
}

img {
    border-radius: 0 50% 0 50%;
    width: 24.5em;
    height: 24.5em;
    margin: 1em;
    border: thick solid #ffffff9e;
}

h1 {
    font-size: 3.9em;
}

p {
    font-size: 1.5em;
}

hr {
    border: thick solid #45b2aa61;
}
/*  #3fcaac */
