body {
    background-color: white;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: baseline;
}

/*navigation bar */
    #navigation {
        background-color: #1b1b1b;
        text-align: center;
        color: #ffffff;
        height: 3.5em;
        line-height: 3.5em;
        /* stay at top*/
        position: fixed;
        z-index: 0;
        width: 100%;
        top: 0;
    }
    
    #navigation ul {
        list-style: none;
    }
    
    #navigation li {
        display: inline-block;
    }
    
    #navigation a {
        color: #ffffff;
        border-radius: 14px 0px 14px 0px;
        /* otherwise no hover efect */
        -moz-transition: background-color .2s ease-in-out;
		-webkit-transition: background-color .2s ease-in-out;
		-ms-transition: background-color .2s ease-in-out;
		transition: background-color .2s ease-in-out;
        text-decoration: none; /*fjern underline*/
        padding: 0 1em;
        height: 2.5em;
        line-height: 2.5em;
        display: block;
        margin: 0 0.5em;
    }
    
    #navigation a:hover {
        background-color: #303030;
        color:  #3fcaac;
    }

    
    #introduction ul {
        list-style: none;
    }
    
    #introduction li {
        display: inline-block;
    }

/* footer */
    #last_edit {
        background-color: #d1d1d1;
        color: #515151;
        padding-left: 0.5em;
    }

    /* classes? */

.container {
    padding: 4em 0 4em 4em;
}

.rightaligedcolumn {
    text-align: right;
    padding-right: 0.2em;
}

img {
    border-radius: 0 50% 0 50%;
    width: 200px;
    height: 200px;
    padding: 1em;
}

/*  #3fcaac */
